<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLServer" connectionString="integrated security=SSPI;data source=localhost;initial catalog=DB" providerName="System.Data.SqlClient" />
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DB.mdb;User Id=;Password=;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- Esta seção define a configuração de log para My.Application.Log-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Descomente a seção abaixo para escrever um Evento de Log da Aplicação -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Descomente a seção abaixo e substitua APPLICATION_NAME pelo nome do seu aplicativo para escrever no Log de Eventos do Aplicativo -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="f1" value="server=fake1.pelotas.com.br;port=5432;database=prevp;userId=ubiosif;password=d4nk;preload reader=true;" />
    <add key="f2" value="server=fake2.pelotas.com.br;port=5430;database=prevp;userId=ubiosif;password=d4nk;preload reader=true;" />
    <add key="pe" value="server=dbsifam.pelotas.com.br;port=54320;database=prevpel;userId=ubiosifam;password=d4t4b4nk;preload reader=true;" />
    <add key="pi" value="server=192.168.0.214;port=5432;database=prevpel;userId=ubiosifam;password=d4t4b4nk;preload reader=true;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>